*{
    margin: 0;
    padding: 0;
    background-color: #1D1C1D;
    font-family: 'Roboto', sans-serif ;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;    
}


nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 20px;
    font-weight: bold;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    
}

.aboutSection{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-size: 100% 100%;
    /* background-color: red; */
}

.aboutImg{
    display: flex;
    /* justify-content: left; */
    align-items: left;
}

.aboutHeading{
    color: white
    
}

#about-Heading1{
    font-size: 30px;
    margin-bottom: 10px;
}

#about-Heading2{
    font-size: 50px;
    margin-bottom: 10px;
}

#about-Heading3{
    font-size: 30px;
}

.aboutInfo{
    
}

.resumeBtn{
    font-family: 'Roboto', sans-serif;
    height: 30px;
    width: 100px;
    font-size: larger;
    border-radius: 7px;
    margin-top: 20px;
}






.clickbutton{
    color: rgb(39, 39, 39);
}
#button1{
    background-color: rgb(18, 159, 240);
    border-color: rgb(18, 159, 240);
    border-radius: 5px;
    font-weight: bold;
}
#button2{
    background-color: rgb(15, 241, 15);
    border-color: rgb(15, 241, 15);
    border-radius: 5px;
    font-weight: bold;
}

#darkPara{
    
    display: inline;
}

#darkBtn{
    font-weight: bold;
}

