*{
    margin: 0;
    padding: 0;
    
}



a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}


nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 20px;
    font-weight: bold;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: purple;
    
}

.aboutSection{
    height: 500px;
    display: flex;
    justify-content: right;
    align-items:center;
    /* border-radius: 10px; */
    background-image: url(pexels-miguel-á-padriñán-1591060.jpg);
    background-size: 100% 100%;
}

.resumeBtn{
    font-family: 'Roboto', sans-serif;
    height: 30px;
    width: 100px;
    font-size: larger;
    border-radius: 7px;
    margin-top: 20px;
}

.aboutPara{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: purple
    
}




.clickbutton{
    color: rgb(39, 39, 39);
}
#button1{
    background-color: rgb(18, 159, 240);
    border-color: rgb(18, 159, 240);
    border-radius: 5px;
    font-weight: bold;
}
#button2{
    background-color: rgb(15, 241, 15);
    border-color: rgb(15, 241, 15);
    border-radius: 5px;
    font-weight: bold;
}

#darkPara{
    
    display: inline;
}

#darkBtn{
    font-weight: bold;
}

