*{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
}

body{
    background-color: rgb(183, 109, 233);
}

a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* background-color: rgb(214, 221, 228);     */
}


nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 20px;
    font-weight: bold;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    
}




.clickbutton{
    color: rgb(39, 39, 39);
}
#button1{
    background-color: rgb(18, 159, 240);
    border-color: rgb(18, 159, 240);
    border-radius: 5px;
    font-weight: bold;
}
#button2{
    background-color: rgb(15, 241, 15);
    border-color: rgb(15, 241, 15);
    border-radius: 5px;
    font-weight: bold;
}

#darkPara{
    
    display: inline;
}

#darkBtn{
    font-weight: bold;
}

